# For examples, refer to http://zsh.sourceforge.net/Intro/intro_8.html

## UBUNTU FIXES
# Receive keys when apt-get update complains
# http://www.sklav.com/apt-key-cheat-sheet
alias get-key='sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys'
alias fixnfs='sudo ntfsfix'
alias up='sudo apt-fast update && sudo apt-fast upgrade -y && sudo apt-fast upgrade dist -y'

## PATHS
alias @projects='~/Projects/'
alias @study='~/Projects/Study'
## TOOLS
#alias pbcopy='xclip -selection clipboard'
#alias pbpaste='xclip -selection clipboard -o'

## Banners
alias banner='git clone git@gitlab.mcsaatchi.com.au:MAKE/banner-zen.git'

alias edit-aliases='atom ~/.zprezto/.aliases'
alias cask='brew cask'
alias ath='atom-beta .'
